In [1]:
#Bir değişkenin tipi nasıl değiştiriliyor?

In [2]:
a = "3"
b = 3 
print(a+a)
print(b+b)

33
6

In [3]:
print(int(a)+b)
print(a + str(b))

6
33

In [4]:
print(True)
print(False)

print(10 > 5)
print(10==5)
print(0 == False)
print(1 == True)

True
False
True
False
True
True

In [10]:
x = "10" 
y = 5
print(x * y)
print(int(x) * y)
print(bool(x))
print(bool(0))

1010101010
50
True
False

In [11]:
print(bool(""))
print(bool(" "))
print(bool([]))
print(bool([0]))

False
True
False
True

In [14]:
x = ""

if x : 
    print("x dolu")
else:
    print("x bos")
print(bool(x))

x bos
False

In [15]:
x = 0 

if x: 
    print("calisti")
else:
    print("calismadi")

calismadi

In [16]:
x = 5

if x: 
    print("calisti")
else:
    print("calismadi")

calisti

In [17]:
kullanici_adi = "hamit"
sifre = ""

if kullanici_adi and sifre:
    print("Giris yapilabilir")
else:
    print("Eksik bilgi")

Eksik bilgi

In [18]:
sayi = -3

if sayi > 0:
    print("pozitif")
elif sayi == 0:
    print("sifir")
else:
    print("negatif")

negatif

In [24]:
x = 0

if not x:
    print("A")
else:
    print("B")

A

In [25]:
x = 5 

if x > 3 and x < 10:
    print("c")

c

In [26]:
x = ""
if x or 1:
    print("D")

D

In [29]:
sayilar = [1, -3, 4, 0, -7, 8]

pozitifler = []

for x in sayilar:
    if x > 0:
        pozitifler.append(x)

print(pozitifler)

[1, 4, 8]

In [31]:
pozitifler = [x for x in sayilar if x > 0]
print(pozitifler)

[1, 4, 8]

In [32]:
sayilar = [1, -3, 4, 0, -7, 8, 10, 11]

ciftler = []

for x in sayilar:
    if x % 2 == 0:
        ciftler.append(x)
print(ciftler)

[4, 0, 8, 10]

In [34]:
sayilar = [1, -3, 4, 0, -7, 8, 10, 11]

cift_pozitifler = []

for x in sayilar:
    if x %2 == 0 and x > 0:
        cift_pozitifler.append(x)

print(cift_pozitifler)

[4, 8, 10]

In [37]:
sayilar = [2, -4, 5, 7, 10, -12]

tek_sayilar = []
cift_sayilar =[]

for sayi in sayilar:
    if x % 2 == 0:
        cift_sayilar.append(sayi)
    else:
        tek_sayilar.append(sayi)

print(tek_sayilar)
print(cift_sayilar)

[]
[2, -4, 5, 7, 10, -12]

In [40]:
sayilar = [2, -4, 5, 7, 10, -12]

tek_sayilar = []
cift_sayilar = []

for sayi in sayilar:
    if sayi % 2 == 0:
        cift_sayilar.append(sayi)
    else:
        tek_sayilar.append(sayi)

Tek Sayılar: [5, 7]
Çift Sayılar: [2, -4, 10, -12]

In [41]:
tek_sayilar = [sayi for sayi in sayilar if sayi %2 !=0 and sayi > 0]
print(tek_sayilar)

[5, 7]

In [43]:
sayilar = [-5, -2, 0, 3, 4, 9, 12]

cift_sayilar = [ x for x in sayilar if x %2 == 0 and x > 0]
print(cift_sayilar)

[4, 12]

In [45]:
tek_sayilar = [x for x in sayilar if x %2 != 0 and x < 0]
print(tek_sayilar)

[-5]

In [46]:
range(5)

range(0, 5)

In [47]:
range(5)

for i in range(5):
    print(i)

0
1
2
3
4

In [51]:
for i in range(21):
    if i %2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [53]:
sonuc = [i for i in range(31) if i %2 !=0 and i > 10]
print(sonuc)

[11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [55]:
sonuc1 = [i for i in range(33) if i %2 !=0 and i > 12]
print(sonuc1)

[13, 15, 17, 19, 21, 23, 25, 27, 29, 31]

In [56]:
i = 0 
while i < 5: 
    print(i)
    i += 1

0
1
2
3
4

In [58]:
toplam = 0 
sayi = i 

while toplam <= 100:
    toplam = toplam + sayi
    sayi = sayi + 1

print(toplam)
print(sayi)

105
15

In [59]:
toplam = 0
sayi = 1

while toplam <= 100:
    toplam = toplam + sayi
    sayi = sayi + 1

print(toplam)
print(sayi)

105
15

In [61]:
sayilar = [2, -4, 5, 7, 10, -12]

cift = [i for i in sayilar if i %2 ==0]
print(cift)

[2, -4, 10, -12]

In [62]:
sayilar = [2, -4, 5, 7, 10, -12]

tek = [i for i in sayilar if i %2 != 0]
print(tek)

[5, 7]

In [63]:
sayilar = [2, -4, 5, 7, 10, -12]

cift = [i for i in sayilar if i % 2 == 0]
tek = [i for i in sayilar if i % 2 != 0]

print("Ciftler", cift, "-> len:", len(cift))
print("Tekler", tek, "->len:", len(tek))

Ciftler [2, -4, 10, -12] -> len: 4
Tekler [5, 7] ->len: 2

In [71]:
sayilar = [2, -4, 5, 7, 10, -12]

pozitif= []
negatif = []

for sayi in sayilar:
    if sayi > 0:
        pozitif.append(sayi)
    else:
        negatif.append(sayi)

print("pozitif:", pozitif, "len:", len(pozitif))
print("negatif:", negatif, "len:", len(negatif))

pozitif: [2, 5, 7, 10] len: 4
negatif: [-4, -12] len: 2

In [72]:
tek_sayilar = []
cift_sayilar = []

for sayi in sayilar:
    if sayi % 2 == 0:
        cift_sayilar.append(sayi)
    else:
        tek_sayilar.append(sayi)

In [75]:
sayilar = [2, -4, 5, 7, 10, -12]

pozitif = [x for x in sayilar if x > 0]
negatif = [x for x in sayilar if x < 0]
print(pozitif)
print(negatif)

[2, 5, 7, 10]
[-4, -12]

In [77]:
def pozitifleri_getir(liste):
    return [x for x in liste if x > 0]
print(pozitifleri_getir(sayilar))

[2, 5, 7, 10]

In [78]:
def liste_ozet(liste):
    return {
        "toplam": sum(liste),
        "min": min(liste),
        "max": max(liste),
        "adet": len(liste)
    }
print(liste_ozet(sayilar))

{'toplam': 8, 'min': -12, 'max': 10, 'adet': 6}

In [80]:
def maxim(a,b,c):
    return max(a, b, c)
print(maxim(3,18,9))

18

In [81]:
import numpy as np

In [82]:
a = np.array(sayilar)
print(a)

[  2  -4   5   7  10 -12]

In [83]:
print(sayilar)

[2, -4, 5, 7, 10, -12]

In [84]:
print(a)

[  2  -4   5   7  10 -12]

In [85]:
type(sayilar)
type(a)

numpy.ndarray

In [86]:
type(sayilar)

list

In [87]:
print(type(sayilar))

<class 'list'>

In [88]:
print(type(a))

<class 'numpy.ndarray'>

In [89]:
print(type(sayilar))
print(type(a))

<class 'list'>
<class 'numpy.ndarray'>

In [90]:
print(a>0)

[ True False  True  True  True False]

In [91]:
print(a[ a > 0])

[ 2  5  7 10]

In [92]:
print(a[a < 0])

[ -4 -12]

In [93]:
print(a[a % 2 ==0])

[  2  -4  10 -12]

In [98]:
print(a[a % 2 !=0])

[5 7]

In [99]:
print(a.sum())

8

In [100]:
print(a.min())

-12

In [101]:
print(a.max())
print(a.mean())

10
1.3333333333333333

In [112]:
import numpy as np

b = np.array([
    [1, 2, 3],
    [4, 5, 6]
])

print(b)

[[1 2 3]
 [4 5 6]]

In [103]:
print(b.shape)

(2, 3)

In [104]:
print(b[0,2])

3

In [106]:
print(b[1,:])

[4 5 6]

In [111]:
print(b[:,1])

[2 5]

In [108]:
print(b.sum())
print(b.mean())

21
3.5

In [109]:
print(b.sum(axis=0))
print(b.sum(axis=1))

[5 7 9]
[ 6 15]

In [113]:
import numpy as np

a = np.array([1,2,3,4,5,6])

In [114]:
b = a.reshape(2,3)
print(b)

[[1 2 3]
 [4 5 6]]

In [115]:
c = a.reshape(3,2)
print(c)

[[1 2]
 [3 4]
 [5 6]]

In [117]:
d = a.reshape(1,6)
print(d)

[[1 2 3 4 5 6]]

In [118]:
print(a.reshape(6,1))

[[1]
 [2]
 [3]
 [4]
 [5]
 [6]]

In [120]:
print(a.reshape(2, -1))

[[1 2 3]
 [4 5 6]]

In [121]:
print(a.reshape(-1,2))

[[1 2]
 [3 4]
 [5 6]]

In [122]:
print(a.reshape(-1,3))

[[1 2 3]
 [4 5 6]]

In [124]:
print(a.reshape(-1,6))

[[1 2 3 4 5 6]]

In [127]:
import numpy as np

x = np.random.rand(5)
print(x)

[0.16779494 0.62013173 0.83331773 0.62352552 0.20306301]

In [128]:
y = np.random.randint(10, 100, size=6)
print(y)

[11 79 67 98 39 42]

In [130]:
z = np.random.randint(0, 100, size=12)
print(z)

[82 27 46  7  9 76 21 47 80 81 31 48]

In [132]:
table = z.reshape(4,3)
print(table)

[[82 27 46]
 [ 7  9 76]
 [21 47 80]
 [81 31 48]]

In [133]:
print(table.mean())
print(table.mean(axis=0))
print(table.mean(axis=1))

46.25
[47.75 28.5  62.5 ]
[51.66666667 30.66666667 49.33333333 53.33333333]

In [134]:
data = np.random.randint(50,150, size=12)
table = data.reshape(3,4)

print(table)
print(table.max())
print(table.mean(axis=0))
print(table.mean(axis=1))

[[ 52 110  72 127]
 [ 67  54 127  95]
 [100  89  81 103]]
127
[ 73.          84.33333333  93.33333333 108.33333333]
[90.25 85.75 93.25]

In [135]:
import pandas as pd

In [136]:
import numpy as np

data = np.array([
    [52, 110, 72, 127],
    [67, 54, 127, 95],
    [100, 89, 81, 103]
])

In [138]:
df = pd.DataFrame(data)
print(df)

     0    1    2    3
0   52  110   72  127
1   67   54  127   95
2  100   89   81  103

In [140]:
df.columns = ["satis", "ziyafet", "donusum", "puan"]
print(df)

   satis  ziyafet  donusum  puan
0     52      110       72   127
1     67       54      127    95
2    100       89       81   103

In [141]:
df.head()

   satis  ziyafet  donusum  puan
0     52      110       72   127
1     67       54      127    95
2    100       89       81   103

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   satis    3 non-null      int64
 1   ziyafet  3 non-null      int64
 2   donusum  3 non-null      int64
 3   puan     3 non-null      int64
dtypes: int64(4)
memory usage: 228.0 bytes

In [143]:
df.describe()

            satis     ziyafet     donusum        puan
count    3.000000    3.000000    3.000000    3.000000
mean    73.000000   84.333333   93.333333  108.333333
std     24.556058   28.290163   29.501412   16.653328
min     52.000000   54.000000   72.000000   95.000000
25%     59.500000   71.500000   76.500000   99.000000
50%     67.000000   89.000000   81.000000  103.000000
75%     83.500000   99.500000  104.000000  115.000000
max    100.000000  110.000000  127.000000  127.000000

In [144]:
print(df["satis"].mean())
print(df["puan"].max())

73.0
127

In [146]:
print(df["ziyafet"].mean())
print(df["donusum"].max())

84.33333333333333
127

In [147]:
df.rename(columns={"ziyafet": "ziyaret"}, inplace=True)
print(df)

   satis  ziyaret  donusum  puan
0     52      110       72   127
1     67       54      127    95
2    100       89       81   103

In [148]:
print(df[df["satis"] > 70])

   satis  ziyaret  donusum  puan
2    100       89       81   103

In [150]:
print(df[df["puan"] > 100])

   satis  ziyaret  donusum  puan
0     52      110       72   127
2    100       89       81   103

In [154]:
print(df[(df["satis"] > 60 and (df["donusum"] > 80)])

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (3888354350.py, line 1)

In [155]:
print(df[(df["satis"] > 60) and (df["donusum"] > 80 )])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [156]:
print(df[(df["satis"] > 60) & (df["donusum"] > 80)])

   satis  ziyaret  donusum  puan
1     67       54      127    95
2    100       89       81   103

In [158]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [159]:
population_dict = {'California': 3832521,
                   'Texaas': 26448193,
                   'New York': 19651127,
                   'Florida': 1952860,
                   'Illionis': 12882135}
population = pd.Series(population_dict)
population

California     3832521
Texaas        26448193
New York      19651127
Florida        1952860
Illionis      12882135
dtype: int64

In [160]:
population['California':'Florida']

California     3832521
Texaas        26448193
New York      19651127
Florida        1952860
dtype: int64

In [161]:
print(df)

   satis  ziyaret  donusum  puan
0     52      110       72   127
1     67       54      127    95
2    100       89       81   103

In [163]:
df.loc[:, ["satis", "puan"]]

   satis  puan
0     52   127
1     67    95
2    100   103

In [164]:
df.iloc[0:2]

   satis  ziyaret  donusum  puan
0     52      110       72   127
1     67       54      127    95

In [165]:
df.loc[df["satis"] > 70, "donusum"]

2    81
Name: donusum, dtype: int64

In [166]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [167]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [168]:
data.items()

In [169]:
for key, value in data.items():
    print(key, value)

a 0.25
b 0.5
c 0.75
d 1.0

In [170]:
for k, v in data.items():
    if v > 0.7:
        print(k,v)

c 0.75
d 1.0

In [171]:
data['density_round'] = data['density'].apply(round)
data

KeyError: 'density'

In [172]:
data = pd.Series([0.25,0.5,0.75,1.0],
                 index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [173]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [175]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [176]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [177]:
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [178]:
area = pd.Series({
    'California': 423967, 
    'Texas': 695662,
    'New York': 141297, 
    'Florida': 170312,
    'Illinois': 149995
})

pop = pd.Series({
    'California': 38332521, 
    'Texas': 26448193,
    'New York': 19651127, 
    'Florida': 19552860,
    'Illinois': 12882135
})

In [179]:
data = pd.DataFrame({'area': area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [182]:
data.loc['New York', 'area']

np.int64(141297)

In [183]:
data.loc['New York', :]

area      141297
pop     19651127
Name: New York, dtype: int64

In [184]:
data.loc[:, 'area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [185]:
data.loc[:'New York', :'area']

              area
California  423967
Texas       695662
New York    141297

In [186]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [187]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [188]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [189]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [190]:
data.iloc[:3,:2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [191]:
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

In [192]:
data.iloc[0,2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [193]:
print(data.columns)

Index(['area', 'pop', 'density'], dtype='object')

In [195]:
print(data.index)

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [196]:
print(data['density'].head())

California     90.000000
Texas          38.018740
New York      139.076746
Florida       114.806121
Illinois       85.883763
Name: density, dtype: float64

In [197]:
print(data.loc['Texas', 'density'])

38.01874042279153

In [198]:
print(data.iloc[1,2])

38.01874042279153